.btn {
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 500;
  outline-color: var(--colorBorder);
}

@media only screen and (min-width: 768px) {
  .btn {
    padding: 14px 28px;
  }
}

.btn-primary {
  background-color: var(--colorPrimary);
  color: var(--white);
  border: 1px solid var(--colorPrimary);
  transition: color var(--cubic-transition);
}

.btn-primary:hover,
.btn-primary:focus {
  color: var(--colorTextDark);
}

.btn-outline {
  background-color: transparent;
  color: var(--colorTextDark);
  border: 1px solid var(--colorPrimary);
  transition: color var(--cubic-transition),
    background-color var(--cubic-transition);
}

.btn-outline:hover,
.btn-outline:focus {
  color: var(--white);
  background-color: var(--colorPrimary);
}

.btn-outline-gray {
  color: var(--colorTextGray);
  border: 1px solid var(--colorBorder);
  transition: color var(--cubic-transition),
    background-color var(--cubic-transition),
    border-color var(--cubic-transition);
}

.btn-outline-gray:hover,
.btn-outline-gray:focus {
  color: var(--white);
  background-color: var(--colorPrimary);
  border-color: var(--colorPrimary);
}
