.aside {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

@media only screen and (min-width: 768px) {
  .aside {
    padding-top: 26px;
    flex-basis: 176px;
    row-gap: 64px;
  }
}

@media only screen and (min-width: 1200px) {
  .aside {
    flex-basis: 235px;
  }
}
