/* +++++++++++ list cards +++++++++++*/

.list-recipes {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 16px;
  margin-bottom: 40px;
}

.item-recipes {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  color: var(--light);
  max-width: 100%;
  height: 335px;
}

@media only screen and (min-width: 768px) {
  .item-recipes {
    max-width: 240px;
    height: 264px;
  }
}

@media only screen and (min-width: 1200px) {
  .item-recipes {
    max-width: 250px;
    height: 287px;
  }
}

.icon-favorite-recipes {
  position: absolute;
  top: 0;
  right: 0;
  stroke: var(--light);
  fill: transparent;
  opacity: 50%;
  z-index: 2;
  width: 22px;
  height: 22px;
  margin: 16px;
}

.wrap-recipes:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(5, 5, 5, 0), rgba(5, 5, 5, 0.6));
}
.img-recipes {
  width: 335px;
  height: 335px;
  object-fit: cover;
}

.thumb-desc-recipes {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  z-index: 2;
}

.title-recipes {
  text-transform: uppercase;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  margin-bottom: 8px;
}
.description-recipes {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 16px;
}
.thumb-btn-rating {
  display: flex;
  align-items: center;
}
.rating-recipes {
  position: relative;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  flex-wrap: wrap;
  align-items: center;
}
.wrap-stars-rating {
  margin-left: 4px;
}
.icon-rating-recipes {
  fill: var(--light);

  opacity: 10%;
  opacity: 100%;
  align-items: center;
  width: 14px;
  height: 14px;
}

.button-recipes {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.21;
  border-radius: 8px;
  padding: 8px 14px;
  margin-left: auto;
}

/* +++++++++++ pagination +++++++++++++*/

.pag-wrap {
  display: flex;
  width: 100%;
  gap: 14px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .pag-wrap {
    gap: 24px;
  }
}

.pag-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.btns-back {
  display: flex;
  gap: 4px;
}

@media screen and (min-width: 768px) {
  .btns-back {
    gap: 8px;
  }
}

.pag-start-btn {
  background-color: var(--colorTextDark);
}

.pag-arrow {
  align-items: center;
  justify-content: center;
  fill: var(--light);
  opacity: 50%;
  height: 14px;
  transform: rotate(180deg);
}

.pag-arrow1 {
  margin-right: -25px;
}

.pag-back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorTextDark);
}

.pag-back-arrow {
  align-items: center;
  justify-content: center;
  fill: var(--light);
  opacity: 50%;
  height: 14px;
  transform: rotate(180deg);
}

.btns-pages {
  display: flex;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .btns-pages {
    gap: 10px;
  }
}

.additional-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .additional-btn {
    display: flex;
  }
}

.pag-page-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--colorTextDark);
  border: 1px solid rgba(5, 5, 5, 0.3);
}
.btns-forward {
  display: flex;
  gap: 4px;
}

@media screen and (min-width: 768px) {
  .btns-forward {
    gap: 8px;
  }
}

.pag-forward-btn {
  background-color: var(--colorPrimary);
  transform: rotate(180deg);
}
