/* +++++++++++ list cards +++++++++++*/

.list-recipes {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 16px;
  margin-bottom: 40px;
}

.item-recipes {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  color: var(--light);
  max-width: 100%;
  height: 335px;
}

@media only screen and (min-width: 768px) {
  .item-recipes {
    max-width: 240px;
    height: 264px;
  }
}

@media only screen and (min-width: 1200px) {
  .item-recipes {
    max-width: 250px;
    height: 287px;
  }
}

.wrap-recipes {
  height: 100%;
}

.button-favorite-recipes {
  position: absolute;
  top: 0;
  right: 0;
  stroke: var(--light);
  fill: transparent;
  opacity: 50%;
  z-index: 2;
  width: 22px;
  height: 22px;
  margin: 16px;
}

.icon-favorite-recipes-active {
  fill: var(--light);
  
}

.icon-favorite-recipes
{
pointer-events: none;
}

.wrap-recipes:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(5, 5, 5, 0), rgba(5, 5, 5, 0.6));
}
.img-recipes {
  width: 335px;
  height: 100%;
  object-fit: cover;
}

.thumb-desc-recipes {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  z-index: 2;
}

.title-recipes {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.description-recipes {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.thumb-btn-rating {
  display: flex;
  align-items: center;
}
.rating-recipes {
  position: relative;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  align-items: center;
}
.wrap-stars-rating {
  display: flex;
  gap: 3px;
  margin-left: 4px;
}

@media only screen and (min-width: 768px) {
  .wrap-stars-rating {
    gap: 1px;
  }
}

.icon-rating-recipes {
  fill: rgba(248, 248, 248, 0.1);
  align-items: center;
  width: 18px;
  height: 18px;
}

.icon-rating-recipes.star {
  fill: var(--orange);
}

@media only screen and (min-width: 768px) {
  .icon-rating-recipes {
    width: 14px;
    height: 14px;
  }
}

.button-recipes {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.21;
  border-radius: 8px;
  padding: 8px 14px;
  margin-left: auto;
}

/* +++++++++++ pagination +++++++++++++*/

.pag-wrap {
  display: flex;
  width: 100%;
  gap: 14px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .pag-wrap {
    gap: 24px;
  }
}

.pag-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

/* .pag-btn:focus-within{
  background-color: rgba(230, 25, 25, 0.7);
  outline: none;
} */

.btns-back {
  display: flex;
  gap: 4px;
}

@media screen and (min-width: 768px) {
  .btns-back {
    gap: 8px;
  }
}

.pag-start-btn,
.pag-back-btn {
  background-color: var(--colorTextDark);
}

.pag-start-btn:hover,
.pag-back-btn:hover
/* ,
.pag-start-btn:focus,
.pag-back-btn:focus */ {
  background-color: rgba(5, 5, 5, 0.7);
  outline: none;
}

.pag-start-btn:active,
.pag-back-btn:active {
  border: none;
  background-color: rgba(5, 5, 5, 0.5);
}

.pag-arrow {
  align-items: center;
  justify-content: center;
  fill: var(--light);
  opacity: 50%;
  height: 14px;
  transform: rotate(180deg);
}

/* .pag-arrow:hover{
  fill: white;
} */

.pag-arrow1 {
  margin-right: -25px;
}

.pag-back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pag-back-arrow {
  align-items: center;
  justify-content: center;
  fill: var(--light);
  opacity: 50%;
  height: 14px;
  transform: rotate(180deg);
}

.js-arrow {
  pointer-events: none;
}

.btns-pages {
  display: flex;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .btns-pages {
    gap: 10px;
  }
}

/* .additional-btn {
  display: none;
} */

@media screen and (min-width: 768px) {
  .additional-btn {
    display: flex;
  }
}

.pag-page-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--colorTextDark);
  border: 1px solid rgba(5, 5, 5, 0.3);
}

.pag-page-btn:hover
/* ,
.pag-page-btn:focus */ {
  background-color: rgba(155, 181, 55, 0.6);
  border: none;
  outline: none;
}

.pag-page-btn:active {
  border: none;
  background-color: rgba(155, 181, 55, 0.4);
}

.btns-forward {
  display: flex;
  gap: 4px;
}

@media screen and (min-width: 768px) {
  .btns-forward {
    gap: 8px;
  }
}

.pag-forward-btn,
.pag-end-btn {
  background-color: var(--colorPrimary);
  transform: rotate(180deg);
}

.pag-forward-btn:hover,
.pag-end-btn:hover
/* ,
.pag-forward-btn:focus,
.pag-end-btn:focus */ {
  background-color: rgba(155, 181, 55, 0.7);
  outline: none;
}

.pag-forward-btn:active,
.pag-end-btn:active {
  border: none;
  background-color: rgba(155, 181, 55, 0.4);
}

.btns-forward .js-arrow {
  fill: var(--colorTextDark);
}

.btn-active {
  background-color: var(--colorPrimary);
  border: none;
}

.additional-btn:hover,
.additional-btn:focus {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--colorTextDark);
  border: 1px solid rgba(5, 5, 5, 0.3);
}
