.categories {
  color: greenyellow;
}

.btn-categories {
  border-color: rgba(5, 5, 5, 0.2);
  background-color: transparent;
  color: rgba(5, 5, 5, 0.5);
  height: 50px;
  font-size: 18px;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  font-weight: 500;
}

.btn-categories:hover,
.btn-categories:focus {
  border: none;
  background-color: rgba(155, 181, 55, 1);
  color: rgba(248, 248, 248, 1);
}

.categories-block {
  width: 326px;
  height: 198px;
}

.categories-element {
  margin-bottom: 24px;
}

.categories-element-text {
  color: rgba(5, 5, 5, 0.3);
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.categories-list:last-child {
  margin-bottom: 0px;
}

@media only screen and (min-width: 768px) {
  .categories-element-text {
    font-size: 16px;
    line-height: 20px;
  }

  .categories-block {
    width: 176px;
    height: 416px;
  }
}

@media only screen and (min-width: 1200px) {
  .categories-block {
    width: 235px;
  }
}
/* 
.categories-block::-webkit-scrollbar{
  width: 8px;
}

.categories-block::-webkit-scrollbar-track {
 color:transparent;
}

.categories-block::-webkit-scrollbar-thumb{
  color:rgba(5, 5, 5, 0.18);
  ;
 }
  */
