.categories {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
}

.categories .btn-outline-gray {
  font-size: 18px;
  padding: 14px 28px;
}

.categories-block {
  width: 326px;
  height: 198px;
}

.categories-element {
  margin-bottom: 24px;
}

.categories-element-text {
  color: rgba(5, 5, 5, 0.3);
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.categories-list:last-child {
  margin-bottom: 0px;
}

@media only screen and (min-width: 768px) {
  .categories {
    row-gap: 30px;
  }
  .categories-element-text {
    font-size: 16px;
    line-height: 20px;
  }

  .categories-block {
    width: 176px;
    height: 416px;
  }
}

@media only screen and (min-width: 1200px) {
  .categories {
    row-gap: 42px;
  }
  .categories-block {
    width: 235px;
  }
}
/* 
.categories-block::-webkit-scrollbar{
  width: 8px;
}

.categories-block::-webkit-scrollbar-track {
 color:transparent;
}

.categories-block::-webkit-scrollbar-thumb{
  color:rgba(5, 5, 5, 0.18);
  ;
 }
  */
