.header {
  padding: 27px 0;
}
.nav-link.active {
  color: var(--colorPrimary);
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 31px 0;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    padding: 43px 0;
  }
}

.header-wrraper {
  display: none;
}

.basket-link {
  display: block;
}

/* 
=============
MOBILE MENU
=============
*/
/* ====== Mobile menu burger ======= */
.site-nav {
  display: flex;
}
.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  background: var(--colorPrimary);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.mobile-wrraper {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  justify-content: space-between;
}

.mobile-menu-burger {
  stroke: var(--black);
}
.menu-toggle-burger {
  margin-left: auto;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0;
  width: 32px;
  height: 32px;
}
.mobile-menu-basket {
  stroke: var(--black);
  fill: transparent;
}
.svg-modal {
  stroke: #f8f8f8;
  width: 16px;
  height: 16px;
}
.menu-toggle-close {
  position: absolute;
  background-color: transparent;

  width: 32px;
  height: 32px;
  top: 20px;
  right: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #2e2f42;
}

.mobile-menu {
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin: 200px auto 0px auto;
}
.mobile-right-part {
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: center;
}

.mobile-menu-item {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--white);
}

.mobile-menu-item:hover,
.mobile-menu-item:focus {
  color: var(--black);
}

.icon-switch {
  margin-top: auto;
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .mobile-wrraper {
    display: none;
  }

  .desktop-right-part {
    display: flex;
    column-gap: 24px;
    align-items: center;
  }

  .header-wrraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/*
=============
SWITCHER
=============
*/

.switch {
  position: absolute;
  display: inline-block;
  width: 46px;
  height: 21px;
  margin-bottom: 0;
  bottom: 20px;
  left: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cecdcd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  box-shadow: 4px 4px 15px 0px rgba(243, 243, 243, 0.25),
    7px 5px 15px 0px rgba(160, 160, 160, 0.6);
}

.slider:before {
  position: absolute;
  content: '';
  height: 19px;
  width: 19px;
  left: 1px;
  bottom: 1px;
  border-radius: 50%;
  background-color: var(--white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 4px 4px 15px 0px rgba(243, 243, 243, 0.25);
}

input:checked + .slider {
  background-color: var(--colorPrimary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--colorPrimary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

@media screen and (min-width: 768px) {
  .switch {
    position: relative;
    left: unset;
    bottom: unset;
  }
}
