/**
  |==================================|
  | HERO Section (Dev by AndriyZuMa) |
  |==================================|
**/

.hero-title h1 {
  margin-bottom: 14px;
  color: var(--colorTextDark);
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2; /* 31.2px */
  text-transform: uppercase;
}
.hero-title-accent {
  color: var(--colorPrimary);
  font-style: italic;
  font-weight: 400;
}

.hero-title-text {
  color: var(--colorTextDark);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.hero-btn-order {
  margin-top: 28px;
  margin-bottom: 48px;
}

.hero-card {
  height: 280px;
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  margin-right: -20px;
}

.chief {
  width: 80px;
  min-width: 80px;
  height: inherit;
  overflow: hidden;
  border-radius: 15px;
  background: var(--colorTextDark);
}
.chief-photo {
  height: 100%;
}

.dish {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  min-width: 200px;
  height: inherit;
  justify-content: flex-end;
  overflow: hidden;
  border-radius: 15px;
  background: var(--colorTextDark);
  background-image: url('/hero-home/ellipse.svg');
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.dish-photo {
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}
.dish-name {
  width: 157px;
  color: rgba(248, 248, 248, 0.6);
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.28;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.dish-area {
  color: rgba(248, 248, 248, 0.2);
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  line-height: 1.75;
  margin-bottom: 14px;
}

.cuisine-preview {
  width: 222px;
  min-width: 222px;
  height: inherit;
  border-radius: 15px;
  background: var(--colorTextDark);
  overflow: hidden;
}
.cuisine-preview-photo {
  display: block;
  /*background: url('https://tasty-treats-backend.p.goit.global/imgDish1.png');*/
  height: 100%;
}

/* mobile */
/*
@media only screen and (max-width: 767px) {
  .hero-title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
*/

/* tablet break-point*/
@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 446px;
  }
  .hero-title h1 {
    font-size: 36px;
  }
  .hero-title-text {
    font-size: 16px;
    line-height: 1.5;
  }
  .hero-btn-order {
    margin-top: 32px;
    margin-bottom: 64px;
  }
  .hero-card {
    height: 442px;
    gap: 16px;
    margin-right: -32px;
  }
  .chief {
    width: 137px;
    min-width: 137px;
  }
  .chief-photo {
    height: 450px;
  }
  .dish {
    width: 351px;
    min-width: 351px;
    background-size: 351px 442px;
  }

  .dish-photo {
    padding-right: 44px;
    padding-left: 44px;
    margin-bottom: 32px;
  }
  .dish-name {
    width: auto;
    font-size: 14px;
  }
  .dish-area {
    width: 48px;
    font-size: 12px;
    margin-bottom: 32px;
  }
  .cuisine-preview {
    width: 351px;
    min-width: 351px;
  }
}

/* desktop break-point*/
@media only screen and (min-width: 1200px) {
  .hero-container {
    display: flex;
    column-gap: 32px;
  }

  .hero-card {
    margin-right: -72px;
  }
}
