.filled-heart {
  fill: #fff;
}

/* mobile default */
.hero-favorites {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* desktop */

@media only screen and (min-width: 1200px) {
  .hero-favorites {
    padding-top: 0;
  }
}
