.popular-recipes {
  font-family: 'Inter';
  color: var(--colorTextDark);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.popular-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.popular-card-list {
  align-items: flex-start;
  display: flex;
}

.popular-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  color: var(--colorTextDark);
  margin-bottom: 8px;
  text-transform: uppercase;
}

.popular-recipes-list {
  align-items: flex-start;
  display: flex;
}

.img-popular {
  width: 64px;
  height: 64px;
  margin-right: 16px;
  border-radius: 8px;
}
.popular-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  color: var(--colorTextDark);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 768px) {
  .popular-title {
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .popular-recipes {
    margin-bottom: 32px;
  }
  .img-popular {
    width: 48px;
    height: 48px;
    margin-bottom: 35px;
    margin-right: 8px;
  }
  .popular-list {
    font-size: 10px;
    line-height: 1.4;
    gap: 16px;
  }

  .popular-text {
    -webkit-line-clamp: 3;
  }
}

@media screen and (min-width: 1200px) {
  .popular-recipes {
    font-size: 24px;
    line-height: 1.16;
  }

  .popular-text {
    font-size: 10px;
  }

  .popular-list {
    gap: 32px;
  }

  .img-popular {
    width: 64px;
    height: 64px;
    margin-right: 16px;
  }
}
