.recipes {
  padding-block: 100px;
}

.recipes .container {
  display: flex;
  row-gap: 40px;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .recipes .container {
    column-gap: 32px;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1200px) {
  .recipes .container {
    column-gap: 64px;
  }
}
