<div class="cards-grid">
  <ul class="list-recipes js-resipe">
    <!--
    <li class="item-recipes">
      <div class="wrap-recipes">
        <button type="button" class="button-favorite-recipes">
            <svg class="icon-favorite-recipes" width="22" height="22">
                <use href="./img/sprite.svg#heart-favorite"></use>
            </svg>
        </button>
        <img
          class="img-recipes"
          src="./img/test-img/test-img.jpg"
          alt="dish"
          width="335"
          height="335"
        />
        <div class="thumb-desc-recipes">
          <h3 class="title-recipes">bANANA pANCAKES</h3>
          <p class="description-recipes">
            Banana pancakes are a fluffy and sweet breakfast dish made with
            mashed ripe bananas, eggs, f...
          </p>
          <div class="thumb-btn-rating">
            <p class="rating-recipes">4.5</p>
            <div class="wrap-stars-rating">
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
            </div>

            <button
              type="button"
              class="btn btn-primary button-recipes"
              data-modal-popup-open
            >
              See recipe
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="item-recipes">
      <div class="wrap-recipes">
        <button type="button" class="button-favorite-recipes">
            <svg class="icon-favorite-recipes" width="22" height="22">
                <use href="./img/sprite.svg#heart-favorite"></use>
            </svg>
        </button>
        <img
          class="img-recipes"
          src="./img/test-img/test-img.jpg"
          alt="dish"
          width="335"
          height="335"
        />
        <div class="thumb-desc-recipes">
          <h3 class="title-recipes">bANANA pANCAKES</h3>
          <p class="description-recipes">
            Banana pancakes are a fluffy and sweet breakfast dish made with
            mashed ripe bananas, eggs, f...
          </p>
          <div class="thumb-btn-rating">
            <p class="rating-recipes">4.5</p>
            <div class="wrap-stars-rating">
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
            </div>

            <button type="button" class="btn btn-primary button-recipes">
              See recipe
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="item-recipes">
      <div class="wrap-recipes">
        <button type="button" class="button-favorite-recipes">
            <svg class="icon-favorite-recipes" width="22" height="22">
                <use href="./img/sprite.svg#heart-favorite"></use>
            </svg>
        </button>
        <img
          class="img-recipes"
          src="./img/test-img/test-img.jpg"
          alt="dish"
          width="335"
          height="335"
        />
        <div class="thumb-desc-recipes">
          <h3 class="title-recipes">bANANA pANCAKES</h3>
          <p class="description-recipes">
            Banana pancakes are a fluffy and sweet breakfast dish made with
            mashed ripe bananas, eggs, f...
          </p>
          <div class="thumb-btn-rating">
            <p class="rating-recipes">4.5</p>
            <div class="wrap-stars-rating">
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
            </div>

            <button type="button" class="btn btn-primary button-recipes">
              See recipe
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="item-recipes">
      <div class="wrap-recipes">
        <button type="button" class="button-favorite-recipes">
            <svg class="icon-favorite-recipes" width="22" height="22">
                <use href="./img/sprite.svg#heart-favorite"></use>
            </svg>
        </button>
        <img
          class="img-recipes"
          src="./img/test-img/test-img.jpg"
          alt="dish"
          width="335"
          height="335"
        />
        <div class="thumb-desc-recipes">
          <h3 class="title-recipes">bANANA pANCAKES</h3>
          <p class="description-recipes">
            Banana pancakes are a fluffy and sweet breakfast dish made with
            mashed ripe bananas, eggs, f...
          </p>
          <div class="thumb-btn-rating">
            <p class="rating-recipes">4.5</p>
            <div class="wrap-stars-rating">
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
            </div>

            <button type="button" class="btn btn-primary button-recipes">
              See recipe
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="item-recipes">
      <div class="wrap-recipes">
       <button type="button" class="button-favorite-recipes">
            <svg class="icon-favorite-recipes" width="22" height="22">
                <use href="./img/sprite.svg#heart-favorite"></use>
            </svg>
        </button>
        <img
          class="img-recipes"
          src="./img/test-img/test-img.jpg"
          alt="dish"
          width="335"
          height="335"
        />
        <div class="thumb-desc-recipes">
          <h3 class="title-recipes">bANANA pANCAKES</h3>
          <p class="description-recipes">
            Banana pancakes are a fluffy and sweet breakfast dish made with
            mashed ripe bananas, eggs, f...
          </p>
          <div class="thumb-btn-rating">
            <p class="rating-recipes">4.5</p>
            <div class="wrap-stars-rating">
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
            </div>

            <button type="button" class="btn btn-primary button-recipes">
              See recipe
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="item-recipes">
      <div class="wrap-recipes">
        <button type="button" class="button-favorite-recipes">
            <svg class="icon-favorite-recipes" width="22" height="22">
                <use href="./img/sprite.svg#heart-favorite"></use>
            </svg>
        </button>
        <img
          class="img-recipes"
          src="./img/test-img/test-img.jpg"
          alt="dish"
          width="335"
          height="335"
        />
        <div class="thumb-desc-recipes">
          <h3 class="title-recipes">bANANA pANCAKES</h3>
          <p class="description-recipes">
            Banana pancakes are a fluffy and sweet breakfast dish made with
            mashed ripe bananas, eggs, f...
          </p>
          <div class="thumb-btn-rating">
            <p class="rating-recipes">4.5</p>
            <div class="wrap-stars-rating">
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
              <svg class="icon-rating-recipes">
                <use href="./img/sprite.svg#rating-star"></use>
              </svg>
            </div>

            <button type="button" class="btn btn-primary button-recipes">
              See recipe
            </button>
          </div>
        </div>
      </div>
    </li>
    -->
  </ul>
  <div class="pag-wrap">
    <div class="btns-back">
      <div class="pag-start-btn pag-btn">
        <svg class="pag-arrow pag-arrow1">
          <use href="./img/sprite.svg#pagination-arrow"></use>
        </svg>
        <svg class="pag-arrow pag-arrow2">
          <use class="arrow" href="./img/sprite.svg#pagination-arrow"></use>
        </svg>
      </div>
      <div class="pag-back-btn pag-btn">
        <svg class="pag-back-arrow">
          <use href="./img/sprite.svg#pagination-arrow"></use>
        </svg>
      </div>
    </div>
    <div class="btns-pages">
      <div class="pag-page-btn pag-btn">1</div>
      <div class="pag-page-btn pag-btn">2</div>
      <div class="pag-page-btn pag-btn additional-btn">3</div>
      <div class="pag-page-btn pag-btn">...</div>
    </div>
    <div class="btns-forward">
      <div class="pag-forward-btn pag-btn">
        <svg class="pag-back-arrow">
          <use href="./img/sprite.svg#pagination-arrow"></use>
        </svg>
      </div>
      <div class="pag-forward-btn pag-btn">
        <svg class="pag-arrow pag-arrow1">
          <use href="./img/sprite.svg#pagination-arrow"></use>
        </svg>
        <svg class="pag-arrow pag-arrow2">
          <use class="arrow" href="./img/sprite.svg#pagination-arrow"></use>
        </svg>
      </div>
    </div>
  </div>
</div>
