<div class="categories">
  <button class="btn btn-outline-gray">All categories</button>
  <div class="categories-block">
    <ul class="categories-list">
      <li class="categories-element">
        <a href="" class="categories-element-text">Breakfast</a>
      </li>
      <li class="categories-element">
        <a href="" class="categories-element-text">Chicken</a>
      </li>
      <li class="categories-element">
        <a href="" class="categories-element-text">Dessert</a>
      </li>
    </ul>
  </div>
</div>
