<div class="filters">
  <div class="filter-item search">
    <label for="filter-search">Search</label>
    <input
      class="filter-search"
      type="text"
      name="filter-search"
      id="filter-search"
      autocomplete="off"
      placeholder="Enter text"      
    /> 
    <svg class="search-icon" width="18" height="18">
      <use href="../img/sprite.svg#search-dandruff"></use>
    </svg>
 
  </div>


  <div class="filter-item time">
    <label for="time-select">Time</label>
    <select class="filter-select" name="time-select" id="time-select">
      <option class="filter-select-option" value="1">40 min</option>
      <option class="filter-select-option" value="2">10 min</option>
    </select>
  </div>

  <div class="filter-item area">
    <label for="area-select">Area</label>
    <select class="filter-select" name="area-select" id="area-select">
      <option class="filter-select-option" value="1">French</option>
      <option class="filter-select-option" value="2">Italian</option>
    </select>
  </div>

  <div class="filter-item ingredients">
    <label for="ingredients-select">Ingredients</label>
    <select
      class="filter-select"
      name="ingredients-select"
      id="ingredients-select"
    >
      <option class="filter-select-option" value="1">Tomato</option>
      <option class="filter-select-option" value="2">Cucumber</option>
    </select>
  </div>

  <div class="reset-container">
    <button type="button" class="reset-filters js-reset-filters">
      <svg width="16" height="16">
        <use href="./img/sprite.svg#cross-close-modal"></use>
      </svg>
      Reset the filter
    </button>
  </div>
</div>
