<header class="header">
  <div class="container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="./index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="./favorites.html" class="nav-link">Favorites</a>
        </li>
      </ul>

      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        aria-label="mobile-menu"
        type="button"
      >
        <svg class="icon" width="40" height="40">
          <use href="./img/sprite.svg#burger"></use>
        </svg>
      </button>
    </nav>
  </div>

  <!--
    =============
    MOBILE MENU
    =============
  -->
  <div class="menu-container js-menu-container" id="mobile-menu">
    <button
      type="button"
      class="menu-toggle js-close-menu"
      aria-label="close-mobile-menu"
    >
      <svg class="close-icon" width="16" height="16">
        <use href="./img/sprite.svg#close"></use>
      </svg>
    </button>

    <ul class="mobile-menu">
      <li class="mobile-item">
        <a href="./index.html" class="mobile-link">Home</a>
      </li>
    </ul>
  </div>
</header>
