<!--------------------------- HERO section (Dev by Andriy ZuMa) ----------------------------------->
<section class="hero">
  <div class="container hero-container">
    <div class="hero-title">
      <h1>
        Learn to Cook
        <span class="hero-title-accent">Tasty Treats'</span> Customizable
        Masterclass
      </h1>
      <p class="hero-title-text">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <button class="hero-btn-order btn btn-primary" type="button">
        Order now
      </button>
    </div>

    <!-- Second block with swiper photo -->
    <div class="hero-card">
      <div class="chief">
        <picture class="chief-photo">
          <source
            srcset="https://tasty-treats-backend.p.goit.global/HestonChan.webp"
            type="image/webp"
          />
          <source
            srcset="https://tasty-treats-backend.p.goit.global/HestonChan.png"
            type="image/jpeg"
          />
          <img
            src="https://tasty-treats-backend.p.goit.global/HestonChan.png"
            alt="Chief"
          />
        </picture>
        <!-- <img
          class="chief-photo"
          src="https://tasty-treats-backend.p.goit.global/HestonChan.png"
          alt="Chief"
        /> -->
      </div>
      <div class="meal">
        <img
          class="meal-photo"
          src="https://tasty-treats-backend.p.goit.global/previewDish1.png"
          alt="Meal"
        />
        <!-- h2 (topic: name) -->
        <h2 class="meal-name">Grilled, smoky, delicious barbecue</h2>
        <!-- p (topic: area) -->
        <p class="meal-area">Spanish</p>
      </div>
      <div class="cuisine-preview">
        <img
          class="cuisine-preview-photo"
          src="https://tasty-treats-backend.p.goit.global/imgDish1.png"
          alt="Preview"
        />
      </div>
    </div>
  </div>
</section>
