<!--------------------------- HERO section (Dev by Andriy ZuMa) ----------------------------------->
<section class="hero">
  <div class="container hero-container">
    <div class="hero-title">
      <h1>
        Learn to Cook
        <span class="hero-title-accent">Tasty Treats'</span> Customizable
        Masterclass
      </h1>
      <p class="hero-title-text">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <button
        class="hero-btn-order btn btn-outline"
        type="button"
        data-order-popup-open
      >
        Order now
      </button>
    </div>
    <!-- Second block with swiper photo -->
    <div class="hero-card swiper-hero">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- <div class="chief">
        <img
        class="chief-photo"
        src="https://tasty-treats-backend.p.goit.global/HestonChan.webp"
        alt="Chief"
        />
      </div>
      <div class="dish">
        <img
        class="dish-photo"
        src="https://tasty-treats-backend.p.goit.global/previewDish1.webp"
        alt="dish"
        />
        <h2 class="dish-name">Grilled, smoky, delicious barbecue</h2>
        <p class="dish-area">Spanish</p>
      </div>
      <div class="cuisine-preview">
        <img
        class="cuisine-preview-photo"
        src="https://tasty-treats-backend.p.goit.global/imgDish1.webp"
        alt="Preview"
        />
      </div> -->
      </div>

      <!-- Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
