<section class="hero">
  <div class="container hero-container">
    <div class="hero-title">
      <h1>
        Learn to Cook
        <span class="hero-title-accent">Tasty Treats'</span> Customizable
        Masterclass
      </h1>
      <p class="hero-title-text last-child">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
    </div>
    <button class="hero-btn-order btn btn-primary" type="button">
      Order now
    </button>
  </div>
  <div class="hero-swiper">
    <div class="chief">
      <img class="chief-photo" src="/src/img/1-Chief.png" alt="Chief" />
    </div>
    <div class="meal">
      <img class="meal-photo" src="/src/img/2-Meal.png" alt="Meal" />
      <h2 class="meal-title"></h2>
      <p class="meal-cuisine"></p>
    </div>
    <div class="cuisine-preview">
      <img
        class="cuisine-preview-photo"
        src="/src/img/3-Preview.png"
        alt="Preview"
      />
    </div>
  </div>
</section>
