<div class="container current-vrapper">
  <svg class="close-window" width="20" height="20">
    <use href="./img/sprite.svg#cross-close-modal"></use>
  </svg>
  <h2 class="current-recipe-name-tablet">BANANA PANCAKES</h2>
  <img
    class="current-recipe-img"
    src="./img/pop-up/pop-up-recept-tab.jpg"
    alt="pop-up-recept"
  />
  <h2 class="current-recipe-name">BANANA PANCAKES</h2>
  <div class="current-information">
    <ul class="current-type-dish-tab">
      <li class="current-type-item">
        <p class="type-item-text">#Breakfast</p>
      </li>
      <li class="current-type-item"><p class="type-item-text">#Desert</p></li>
      <li class="current-type-item"><p class="type-item-text">#Sweet</p></li>
    </ul>
    <p class="current-rating">4.5</p>
    <ul class="current-star">
      <li class="current-star-color">
        <svg class="star-icon" width="18" height="18">
          <use href="./img/sprite.svg#rating-star"></use>
        </svg>
      </li>
      <li class="current-star-color">
        <svg class="star-icon" width="18" height="18">
          <use href="./img/sprite.svg#rating-star"></use>
        </svg>
      </li>
      <li class="current-star-color">
        <svg class="star-icon" width="18" height="18">
          <use href="./img/sprite.svg#rating-star"></use>
        </svg>
      </li>
      <li class="current-star-color">
        <svg class="star-icon" width="18" height="18">
          <use href="./img/sprite.svg#rating-star"></use>
        </svg>
      </li>
      <li class="current-star-color">
        <svg class="star-icon" width="18" height="18">
          <use href="./img/sprite.svg#rating-star"></use>
        </svg>
      </li>
    </ul>
    <p class="current-cucing-time">40 min</p>
  </div>
  <ul class="current-ingredients-list">
    <li class="current-ingredients-item border">
      <p class="current-ingredients-name">Banana</p>
      <p class="current-ingredients-quantity">1 large</p>
    </li>

    <li class="current-ingredients-item border">
      <p class="current-ingredients-name">Banana</p>
      <p class="current-ingredients-quantity">1 large</p>
    </li>
    <li class="current-ingredients-item border">
      <p class="current-ingredients-name">Banana</p>
      <p class="current-ingredients-quantity">1 large</p>
    </li>
    <li class="current-ingredients-item border">
      <p class="current-ingredients-name">Banana</p>
      <p class="current-ingredients-quantity">1 large</p>
    </li>
    <li class="current-ingredients-item border">
      <p class="current-ingredients-name">Banana</p>
      <p class="current-ingredients-quantity">1 large</p>
    </li>
    <li class="current-ingredients-item border">
      <p class="current-ingredients-name">Banana</p>
      <p class="current-ingredients-quantity">1 large</p>
    </li>
  </ul>
  <ul class="current-type-dish">
    <li class="current-type-item">
      <p class="type-item-text">#Breakfast</p>
    </li>
    <li class="current-type-item"><p class="type-item-text">#Desert</p></li>
    <li class="current-type-item"><p class="type-item-text">#Sweet</p></li>
  </ul>
  <p class="current-recipe">
    Mash the ripe banana in a medium mixing bowl. Add the egg and whisk together
    until well combined. Add the flour, baking powder, cinnamon (if using), and
    salt, and stir until just combined. Heat a non-stick skillet or griddle over
    medium heat and add the vegetable oil or melted butter. Scoop the batter
    onto the skillet or griddle using a 1/4 cup measure, and cook for 2-3
    minutes on each side, or until the pancakes are golden brown and cooked
    through. Serve warm with your favorite toppings such as maple syrup, sliced
    bananas, or whipped cream.
  </p>
  <div class="custumer-choice">
    <a href="" class="btn btn-primary custumer-choice-text">Add to favorite</a
    ><a href="" class="btn btn-outline custumer-choice-text">Give a rating</a>
  </div>
</div>
