/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--colorTextDark);
  text-decoration: none;
  transition: color var(--cubic-transition);
}

a:hover,
a:focus {
  color: var(--colorPrimary);
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

input:focus,
textarea:focus {
  outline: 1px solid var(--colorPrimary);
}

body {
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--colorTextDark);
  background-color: var(--light);
}

.swiper {
  width: 600px;
  height: 300px;
}
